body, #slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}


.warp{position: relative}

.slide{
	background-size: :cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1{background-image: url('../images/IMG1.jpg')}
.slide2{background-image: url('../images/IMG2.jpg')}
.slide3{background-image: url('../images/IMG3.jpg')}


.slide-content{
	display: flex;
	flex-direction: coloum;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span{
	font-size: 5rem;
	color: #fff;
}
.slide-content p{
	font-size: 30px;
	color: #fff;
}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top:  -50px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left{
	border-width: 30px 40px 30px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right{
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}


/* Footer */

  #footer {
    padding: 8em 0 6em 0;
    background: #f6f6f6;
    color: #aaa;
    text-align: center;
  }

    #footer a {
      -moz-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      color: #aaa;
      text-decoration: none;
    }

      #footer a:active, #footer a:hover {
        color: #666;
      }

    #footer .icons {
      font-size: 1.5em;
    }

      #footer .icons li {
        padding-right: 2.5em;
      }

        #footer .icons li:last-child {
          padding-right: 0;
        }

    #footer .copyright {
      margin: 2em 0;
      padding: 0;
      text-align: center;
    }

      #footer .copyright li {
        border-left: solid 1px rgba(144, 144, 144, 0.25);
        display: inline-block;
        list-style: none;
        margin-left: 1.5em;
        padding-left: 1.5em;
      }

        #footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

    @media screen and (max-width: 980px) {

      #footer {
        padding: 6em 0 4em 0;
      }

    }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 0 2em 0;
      }

        #footer .icons {
          font-size: 1em;
        }

    }

    @media screen and (max-width: 480px) {

      #footer {
        padding: 3em 0 1em 0;
      }

        #footer .copyright li {
          border-left: 0;
          display: block;
          margin: 0;
          padding: 0;
        }

    }
  @media screen and (max-width: 320px) {

      #footer {
        padding: 3em 0 1em 0;
      }

        #footer .copyright li {
          border-left: 0;
          display: block;
          margin: 0;
          padding: 0;
        }

    }


/* Icon */

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }
    
/* List */
    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0;
    }

    ul.icons li:last-child {
      padding-right: 0;
    }

    ul.icons li .icon:before {
      font-size: 2em;
    }

  @media(max-width: 768px) {
    .slide-content span{
      font-size: 3rem;
      color: #fff;
    }
    .slide-content p{
      font-size: 15px;
      color: #fff;
    }
  }

